

<nav class="navbar navbar-light bg-light navbar-expand-md">
  <a [routerLink]="nav.root.link" class="navbar-brand">{{nav.root.title}}</a>
  <div
    class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li *ngFor="let section of nav.sections"  class="nav-item">
        <a class="nav-section nav-link" [routerLink]="section.link" mat-ripple>
        {{section.title}}
      </a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="dropdown nav-item" appdropdown>
        <a class="dropdown-toggle nav-link" role="button" mat-ripple>
        Manage <span class="caret caret-clean"></span>
      </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <mat-nav-list>
            <mat-list-item>Save Data</mat-list-item>
            <mat-list-item>Fetch Data</mat-list-item>
          </mat-nav-list>
        </div>
      </li>
    </ul>
  </div>
</nav>
