<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret caret-clean"></span>
      </button>
      <div class="dropdown-menu">
        <li><a routerLink="/shopping-list" (click)="onAddToShoppingList()">To Shopping List</a></li>
        <li><a [routerLink]="['edit']">Edit Recipe</a></li>
        <li><a (click)="onDeleteRecipe()" style="cursor: pointer;" >Delete Recipe</a></li>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <app-ingredient
      *ngFor="let ingredient of recipe.ingredients"
      [ingredient]="ingredient"></app-ingredient>
  </div>
</div>