<div class="row">
  <div class="col-md-6">
    <app-recipes-list [recipes]="recipes"></app-recipes-list>

    <hr>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" [formControl]="passwordFormControl" [(ngModel)]="password">
      </mat-form-field>
    </form>

    <button mat-button (click)="signUp()">Sign Up</button>
    <button mat-button (click)="signIn()">Sign In</button>
    <button mat-button (click)="getProtected()">Get Protected</button>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>