<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a [routerLink]="nav.root.link" class="navbar-brand">{{nav.root.title}}</a>
      </div>

   
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li *ngFor="let section of nav.sections">
            <a class="nav-section" [routerLink]="section.link" mat-ripple>
              {{section.title}}
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" role="button">
              Manage <span class="caret caret-clean"></span>
            </a>
            <div class="dropdown-menu">
              <mat-nav-list>
                <mat-list-item>Save Data</mat-list-item>
                <mat-list-item>Fetch Data</mat-list-item>
              </mat-nav-list>
            </div>
        </ul>
      </div>
    </div>
  </nav>